@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.2px;

    @media (max-width: 320px) {
        font-size: 13px;
    }
}

/* disabling arrows from number input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}
